.new-post-input {
  position: absolute;
  height: 210px;
  width: 360px;
  opacity: 0;
}

.new-post-header{
    margin-top: 10px;
}

select,
option {
  text-align-last: center;
}

.create-new-post-image {
  height: 210px;
  width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  border-radius: 9px;
}

.title-description {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 9px;
  height: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-description > * {
  border: none;
  box-shadow: 0px 0px 0px;
}

.enter-description {
  width: 315px;
  height: 90px;
  overflow: auto;
  text-align: center;
}

.second-half {
  display: flex;
  justify-content: space-around;
}

.category-notes {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.category-notes > * {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  text-align: center;
  border-radius: 9px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.25);
}

.bidding-content {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bidding-content > * {
  width: 100%;
  font-size: 12px;
  margin-bottom: 0px;

}

.bidding-content > input {
  font-size: 16px;
}

.bid-expiry {
  padding: 4px;
  font-size: 12px;
}

.hidden {
  display: none;
}

.new-post-modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.new-post-modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 9px;
}

.new-post-modal-content > div > button {
    margin: 6px;
    height: 40px;
    width: 70px;
    border: transparent;
}

.yes-button {
    background-color:#CA0303;
    color:white;
    border: none;
}

form#new-post > * {
  margin: 0.5%;
}
