/* View Specific Post */
.post-header {
  height: 12vh;
  box-sizing: border-box;
}
.post-image-container {
  height: 32vh;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: lightgray
}
.post-description {
  height: 21vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1vh 1%;
  padding: 0 1rem;
  border-radius: 9px;
  overflow: auto;
  text-align: center;
}
.post-bid-info {
  height: 22vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 5%;
  border-radius: 9px;
  margin: 1vh 1%;
}
.header-icon-container {
  width: 20%;
  height: 90%;
}
.header-icon {
  width: 100%;
  height: 50%;
  object-fit: contain;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
}
.post-header-text > p {
  line-height: 1.2;
}
.following {
  font-size: 0.65rem;
}
.post-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.post-description > p {
  font-size: 0.78rem;
  margin-bottom: 0;
  font-weight: 300;
}
.bid-buttons-container {
  width: 35%;
}
.bid-buttons-container > form {
  width: 100%;
}
.bid-stats {
  width: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
#post-name {
  font-weight: 300;
  font-style: italic;
  font-size: 0.9rem;
}
#by {
  font-weight: 300;
  font-size: 0.7rem;
}
.bid-buttons-container > form {
  padding: 0;
}
#bid-offer,
button#submit-bid,
button#message,
button#edit-post {
  border: 0;
  font-weight: 300;
  font-size: 1rem;
  padding: 5%;
  height: 30%
}
#bid-offer {
  border: 0;
  width: 100%;
  margin: 0;
}
button#submit-bid,
button#edit-post {
  background-color: #CA0101;
  color: white;
  margin: 5% 0;
}
button#message {
  background-color: #C4C4C4;
}
#expire-disclaimer {
  font-size: 0.6rem;
  margin-bottom: 0.5vh;
  color: #A0A0A0;
}
.bid-numbers > p {
    font-size: 0.8rem;
}
.red-underline {
  text-decoration: underline;
  color: #CA0101;
}

/* Bid History */
.bid-history {
  height: 42vh;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1vh 1%;
  padding: 1vh 1rem;
  border-radius: 9px;
  position: relative
}

.bid-back-icon-container {
  width: 10%;
  height: 7%;
  position: absolute;
  left: 2%;
  top: 3%
}

.bid-back-icon {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

#bid-history {
  font-size: 1.2rem;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.bid-table {
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  padding: 2% 0;
}

.bid-table > table {
  margin: auto;
  font-weight: 300;
  font-size: 0.9rem;
  width: 90%;
}

th {
  font-weight: 300;
  font-style: normal;
}

#no-bid {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0;
}

/* Notes */
.notes-container {
  width: 50%;
  text-align: center;
  height: 85%;
}

.notes-text {
  height: 70%;
  overflow: auto;
  padding-right: 3%;
}

button#edit-post {
  width: 60%;
  margin: 3% 0 0;
  padding: 1%;
  height: 25%
}

.notes-text > p{
  margin: 0;
  font-size: 0.78rem;
  font-weight: 300;
}

/* Edit Post */
.edit-post {
  margin-bottom: 17px;
}
