body {
  margin: auto;
  width: 375px;
  height: 667px;
  display: relative;
}

input, button {
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* search-page */
.search-bar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: relative;
}

.search-mag {
  height: 60%;
  right: 15%;
  top: 20%;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
}

.thumbnail-column {
  overflow-y: scroll;
  height: 80vh;
  width: calc(100% / 3);
}

.thumbnail-container {
  height: 125px;
}

.column-label {
  width: calc(100% / 3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 0;
}

.column-label > h6 {
  margin-bottom: 0;
}

.space-evenly {
  justify-content: space-evenly;
}

.contain {
  object-fit: contain;
}

/* navbar */
.navbar {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 375px;
  margin: auto;
  z-index: 1;
}

.navbar > div {
  height: 100%;
  border: 4px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px;
  width: 20%;
  text-align: center;
}

.nav-icon {
  height: 100%;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
}

.nav-icon:hover {
  cursor: pointer;
}

.logo {
  font-family: 'Reem Kufi', sans-serif;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 5rem;
}

.header-title {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
  background-color: white;
  color: #CA0101;
  text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

p, input {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn-submit {
 background: #CA0101;
 color: white;
}

.btn-cancel {
  background: #E0DCDC;
  color: black;
}

.btn-submit-header,
.btn-cancel-header {
  background-color: white;
  color: #ca0101;
  border-radius: 9px;
  width: 20%;
  font-size: 0.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-submit-header:active,
.btn-cancel-header:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.btn-submit:active,
.btn-cancel:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileImgEdit {
  border-radius: 50%;
  border-style: solid;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 150px;
  height: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profileImgEdit:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back-container{
  width: 20%;
}
.back-arrow {
  width: 20px;
  height: 34px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}

.profileImg-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#profile-img-upload {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
}

#cover-img-upload {
  position: absolute;
  width: 94%;
  height: 34%;
  opacity: 0;
}

.coverPhotoEdit {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 96%;
  background-color: #e0dcdc;
  border-radius: 9px;
  background-repeat: no-repeat;
  background-size: cover;
}


.coverPhoto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

#profileUserName {
  font-family: 'Righteous', cursive;
  color: white;
  -webkit-text-stroke: 1px black;
}

.profile-description {
  font-size: .8rem;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description-input,
.location-info,
.zip-input,
.city-display,
.email-input {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 96%;
  border-radius: 9px;
}

.placeholder {
  color: #a4a4a4;
}

.message-sender {
  font-size: 16px;
}

.message-postid, .message-time, .message-date {
  font-size: 9px;
}

.message-content {
  font-size: 14px;
}

.message-box-list-sender {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #e0dcdc;
  border-radius: 6px;
}

.message-box-list-me {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 6px;
}

.message-box-sender {
  width: 80%;
  margin-left: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #e0dcdc;
  border-radius: 6px;
}

.message-box-me {
  width: 80%;
  margin-left: 18%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 6px;
}

.icon-custom-back {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 30px;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
  text-align: center;
}

.icon-custom-search {
  position: absolute;
  top: 15px;
  left: 330px;
  font-size: 30px;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
  text-align: center;
}

.postid-custom {
  font-size: 12px;
}

.message-list-box {
  position: relative;
  top: 85px;
}

.message-detail-box {
  position: relative;
  top: 85px;
}

.message-header {
  width: 375px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.send-message-custom {
  width: 375px;
  bottom: 3%;
}

.textarea-custom {
  resize: none;
  border-radius: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.message-padding {
  height: 160px;
}

.btn-custom-send {
  background-color:#CA0303;
}

.btn-custom {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 9px;
}

.message-btn-custom {
  width: 70px;
  font-size: 18px;
  background-color:#CA0303;
  border-radius: 9px;
  bottom: 11%;
  position: absolute;
  left: 80%;
}

.message-search-input {
  z-index: 1;
  width: 350px;
  top: 55px;
  animation: wide 0.2s ease-in;
}

.message-search-input-cancel-btn {
  position: absolute;
  z-index: 1;
  width: 20px;
  top: 57px;
  left: 345px;
  border: none;
  background-color: none;
  border-radius: 9px;
  cursor: pointer;
}

.signup-logo {
  font-family: "Reem Kufi", sans-serif;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 4.5rem;
  padding-top: 39px;
}

.signup-msg {
  position: absolute;
  bottom: 53%;
  background-color: rgba(255, 255, 255, 0.45);
  width: 100%;
}

@keyframes wide {
  from {
    width: 0px;
  }
  to {
    width: 350px;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

.size-up-down {
  animation: sizeUpDown 0.2s ease-in;
}

@keyframes sizeUpDown {
  0%   {transform: scale(1); }
  50%  {transform: scale(1.02);}
  100% {transform: scale(1);}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}

.modal-content {
  background-color: rgba(255, 255, 255, 1);
  margin: 30% auto;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-textarea-custom {
  width: 95%;
  resize: none;
  border: none;
}
