body {
  margin: auto;
  width: 375px;
  height: 667px;
}

.logo {
  font-family: 'Reem Kufi', sans-serif;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 5rem;
}

.header-title {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
  background-color: white;
  color: #CA0101;
  text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

p, input {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn-submit {
 background: #CA0101;
 color: white;
}

.btn-cancel {
  background: #E0DCDC;
  color: black;
}

.btn-submit-header, .btn-cancel-header {
  background-color: white;
  color: #CA0101;
  border-radius: 9px;
  width: 20%;
  font-size: .7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-submit-header:active, .btn-cancel-header:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.btn-submit:active, .btn-cancel:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileImgEdit {
  border-radius: 50%;
  border-style: solid;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 150px;
  height: 150px;
  background-color: white;
}

.profileImgEdit:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coverPhotoEdit {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 96%;
  background-color: #E0DCDC;
  border-radius: 9px;
}

.description-input, .location-info, .zip-input, .city-display {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 96%;
  border-radius: 9px;
}


.placeholder {
  color: #A4A4A4;
}
