body {
  margin: auto;
  width: 375px;
  height: 667px;
}

input, button {
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* search-page */
.search-bar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: relative;
}

.search-mag {
  height: 60%;
  right: 15%;
  top: 20%;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
}

.thumbnail-column {
  overflow-y: scroll;
  height: 80vh;
  width: calc(100% / 3);
}

.column-label {
  width: calc(100% / 3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 0;
}

.column-label > h6 {
  margin-bottom: 0;
}

.space-evenly {
  justify-content: space-evenly;
}

.contain {
  object-fit: contain;
}

/* navbar */
.navbar {
  height: 10vh;
}

.navbar > div {
  height: 100%;
  border: 4px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px;
  width: 20%;
  text-align: center;
}

.nav-icon {
  height: 100%;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
}

.nav-icon:hover {
  cursor: pointer;
}

.logo {
  font-family: 'Reem Kufi', sans-serif;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 5rem;
}

.header-title {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
  background-color: white;
  color: #CA0101;
  text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

p, input {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn-submit {
 background: #CA0101;
 color: white;
}

.btn-cancel {
  background: #E0DCDC;
  color: black;
}

.btn-submit-header,
.btn-cancel-header {
  background-color: white;
  color: #ca0101;
  border-radius: 9px;
  width: 20%;
  font-size: 0.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-submit-header:active,
.btn-cancel-header:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.btn-submit:active,
.btn-cancel:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileImgEdit {
  border-radius: 50%;
  border-style: solid;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 150px;
  height: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileImgEdit:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileImg-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.coverPhotoEdit {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 96%;
  background-color: #e0dcdc;
  border-radius: 9px;
  background-repeat: no-repeat;
  background-size: cover;
}

.coverPhoto {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

#profileUserName {
  font-family: 'Righteous', cursive;
  color: white;
  -webkit-text-stroke: 1px black;
}

.profile-description {
  font-size: .8rem;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description-input,
.location-info,
.zip-input,
.city-display,
.email-input {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 96%;
  border-radius: 9px;
}

.placeholder {
  color: #a4a4a4;
}

.user-post-grid {
  /*backgroun*/
}

.message-sender {
  font-size: 18px;
}

.message-postid, .message-time, .message-date {
  font-size: 9px;
}

.message-content {
  font-size: 16px;
}

.message-box {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #e0dcdc;
  border-radius: 6px;
}

.icon-custom {
  font-size: 30px;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.7));
}

.postid-custom {
  font-size: 12px;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Specific Post */

.post-header {
  height: 12vh;
  box-sizing: border-box;
}

.header-icon-container {
  width: 20%;
  height: 100%;
}

.header-icon {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.post-header-text > p {
  line-height: 1.2;
}

.following {
  font-size: 0.65rem;
}

.art-info {
  height: 65vh;
}

.post-image-container {
  height: 50%;
  background-color: lightgray;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.post-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post-description {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1%;
  padding: 1px;
  border-radius: 9px;

}
