.oval {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: lightgray;
}

.oval-red {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
  background-color: #CA0101;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-right {
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
  transform: translate(0px);
  transition-duration: 450ms;
}

.slider-left {
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
  transform: translate(75px);
  transition-duration: 350ms;
}

.container {
  height: 50px;
  width: 200px;
}

.bidding-enabled {
  position: absolute;
  color: white;
  width: 88px;
  margin-top: 6px;
}

.bidding-disabled{
   position: absolute;
  color: black;
  width: 88px;
  margin-top: 6px;
  margin-left: 38px;
}
